<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <p class="navbar-brand" style="color:white;text-decoration:solid;">Welcome To Shop For Home</p>
    <div class="collapse navbar-collapse" id="navbarColor02">
       
 &nbsp;&nbsp; &nbsp;&nbsp;
        <ul class="navbar-nav mr-auto">
            <button  class="btn btn-warning" routerLink="/userproducts">View Product Categories
            </button>
       </ul>
  &nbsp;&nbsp;&nbsp;&nbsp;
       <button class="btn btn-danger" (click)=" userlogout()">Logout</button>
    </div>
  </nav>
<div>
    
    <hr>
   
</div>

    <h3 align="center" style="color:gold;">Welcome "{{username}}"</h3>
    <br><br>
<app-ecommerce></app-ecommerce>
    <br/><br/><br/>                       

