<hr>
<h1 align = "center" style="color: rgb(254, 255, 255);">Bulk Upload(CSV File)</h1>

<div class="container">
    <div class="card">
        <div class="card-header">
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)"  accept=".csv"/>
          </label>
        </div>
      
        <div class="card-body">
          <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
            Upload
          </button>
          
        </div>
      </div>
      <div *ngIf="currentFile" class="progress my-3">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>
      
      <div *ngIf="message" class="alert alert-primary" role="alert">{{ message }}</div>
    
</div>
